<!-- src/views/dashboard/dashboard.html -->

<main class="dashboard-main">
    <aside class="dashboard-sidebar">
        <button id="load-users-btn">Utilisateurs</button>
        <button id="load-orders-btn">Commandes</button>
        <button id="load-services-btn">Services</button>
        <button id="load-reviews-btn">Avis</button>
    </aside>

    <section class="dashboard-content">
        <h1 id="dashboard-message"></h1>
        <section id="dashboard-subview"></section>
    </section>
</main>